.contact {
    padding-bottom: 117px;
    padding-top: 115px;
    margin-top: 115px;
    background-color: var(--backgraunds);
}

.contact__wrapper {

    width: 100%;
}

.contact__title {
    text-align: center;
}

.contact__text {
    padding: 15px 0 46px 0;
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

.contact__form {
    justify-content: center;
    display: flex;
    text-align: center;
    position: relative;
}

.contact__input {
    position: relative;
    left: 10px;
    transition: 300ms;
    border-radius: 8px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 41px;
    width: 50%;
    background-color: #fff;
    padding: 10px 0 10px 20px;
}

.contact__btn {
    z-index: 1;
}


@media (max-width: 768px) {
    .contact__text  {
        font-size: 23px;
    }
}

@media (max-width: 573px)  {
    .contact__text  {
        width: 100%;
        font-size: 23px;
    }

    .contact__form {
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .contact__btn {
        margin-top: 13px;
        padding: 12px;
        width: 90%;

    }
    .contact__input {
        left: 0px;
        transition: 300ms;
        width: 90%;
    }
}